*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}
body{
    background-color: #E11364;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #BC105C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
main article{
    background-color: #BC105C;
    margin: 20px;
    padding: 20px;
    border: 20px;
}
div a button{
    background-color: purple;
    color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 30px;
}
div a button:hover{
    background-color: green;
}
header h1{
    border-radius: 10px;
    border-top: 10px double white;
    border-bottom: 10px double white;
}
main article{
    background-color: white;
    border-radius: 10px;
}
article img{
    width: 100%;
    padding: 20px;
}
article p{
    margin: 10px;
    padding: 10px;
    font-style: oblique;
}
article h3{
    padding: 20px;
}
article div a button{
    text-align: right;
    background-color: red;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
article div{
    display: inline-flex;
}